[Unit]
Description=Tincan networkk SSH tunnel (%I)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sshlink2.tincan -p %i -f start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
