[Unit]
Description=Tincan network heartbeat checkin
Requires=tincan-heartbeat.timer

[Service]
Type=simple
ExecStart=/usr/local/bin/tincanctl -i macaddr cron
User=root
