[Unit]
Description=Tincan heartbeat timer

[Timer]
Unit=tincan-heartbeat.service
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
