.page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header' 
        'main' 
        'footer';
    background-color: #090925;
    color: white;
}

.main {
    grid-area: 'main';
    overflow: auto;
}

